<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>リアルタイムチャット</title>
    <!-- soketioの読み込み -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {

            // socket.ioのセットアップ - (*9)
            const socket = io();

            const messageInput = document.getElementById('message-input');
            const messageButton = document.getElementById('send-message');
            const messageList = document.getElementById('messages')
            
            // 受け取ったメッセージを描画する - (*10)
            const appendMessage = messageText => {
                const li = document.createElement('li');
                li.textContent = messageText;
                messageList.appendChild(li);
            };

            // サーバーとの接続確立 - (*11)
            socket.on('connect', () => socket.emit('load messages'));

            // メッセージ全件受信処理 - (*12)
            socket.on('load all messages', messageTexts => messageTexts.forEach(appendMessage));

            // メッセージ送信処理 - (*13)
            messageButton.addEventListener('click', () => {
                socket.emit('send message', messageInput.value);
                messageInput.value = '';
                return false;
            });

            // メッセージ受信処理 - (*14)
            socket.on('load one message', appendMessage);
        });
    </script>
</head>
<body>
    <h1>リアルタイムチャット</h1>
    <ul id="messages"></ul>
    <input type="text" id="message-input" placeholder="メッセージを入力">
    <button id="send-message">送信</button>
</body>
</html>